<button type="button" class="btn btn-primary">
  Notifications <span class="badge badge-light">{{cartCount}}</span>
</button>

<div>
  @if (cartCount > 0) {
    @for (item of cartItems; track item.Id) {
      <li>{{item.Id}} -- {{item.Count}}</li>
    }
  }
</div>

@if (products) {
  <div class="product-grid">
    @for (item of products; track item.id) {
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="item.thumbnail" [alt]="item.title">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <button (click)="handleAddToCart(item.id)" class="btn btn-primary">
            Buy for {{item.price | currency:'INR'}}
          </button>
        </div>
      </div>
    }
  </div>
} @else {
  <div>
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
}
